@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primaryColor: #00beae;
    --secondaryColor:#ff9501;
}
body {

    font-family: "Josefin Sans", serif;
  
}
.after-li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--primaryColor);
    top: 100%;
    right: 0;
    transition: 0.5s;
}
.afterHeader:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background: var(--secondaryColor);
    top: calc(100% - 1px);
    right: 10%;
    left:10%;
    border-radius: 100px;
}
.flying_rocket {
   
}
@keyframes flyingRocket {
    0% {
        translate: 0% 0;
        rotate: 0deg
    }
    30% {
        translate: 0% 0;
        rotate: -45deg
    }    
    100% {
        translate: 30vw -100vh;
        rotate: -50deg;

    }
}
.flying_container button:hover ~ .astro {
    display: none;
}
.flying_container button:hover ~ .flying_rocket {
    opacity: 1;
    display: initial;
    animation: flyingRocket 5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}